# Flask Settings
FLASK_APP=backend.app:create_app
FLASK_ENV=development
SECRET_KEY=your-secret-key-here

# Database Settings
#DATABASE_URL=sqlite:///data.sqlite # Optional Sqlite
POSTGRES_HOST=your-db-address
POSTGRES_PORT=your-db-port
POSTGRES_DB=your-db-name
POSTGRES_USER=your-db-user
POSTGRES_PASSWORD=your-db-password
POSTGRES_SSLMODE=disable
POSTGRES_SSLROOTCERT=''

# JWT Settings
JWT_SECRET_KEY=your-jwt-secret-key-here
JWT_ACCESS_TOKEN_EXPIRES=3600

# Initial Admin Credentials (for bootstrapping)
AUTH_USER=admin
AUTH_PASS=admin123

# Mailgun Settings (for email notifications/password resets)
MAILGUN_URL=https://api.mailgun.net/v3/your-domain.com
MAILGUN_KEY=your-mailgun-api-key
MAILGUN_SEND_FROM_ADDRESS=noreply@your-domain.com

# Frontend Settings
FRONTEND_URL=http://localhost:5173
